---
import Accordian from "./Accordian.astro";

type Project = {
  title: string;
  image: {
    src: string;
    width: number;
    height: number;
    format: "png" | "jpg" | "jpeg" | "tiff" | "webp" | "gif" | "svg" | "avif";
  };
  description: string;
  techStack: string[];
  siteUrl: string;
  githubUrl: string;
  slug: string;
  featured: boolean;
  features: string[];
  futureOptimisations: string[];
};

type Props = {
  id: string;
  project: Project;
};

const { id, project } = Astro.props;
---

<article
  id={id}
  class={`px-4 py-10 lg:p-4 transition-all duration-300 absolute inset-0 w-full lg:pt-20 ${
    id === "article_1"
      ? "opacity-100 z-30 relative"
      : "opacity-0 z-0 pointer-events-none"
  }`}
  aria-hidden={id !== "article_1" ? "true" : "false"}
  inert={id !== "article_1" ? "true" : null}
>
  <h2 class="font-bold text-4xl tracking-tight mb-5">{project.title}</h2>
  <p class="">
    {project.description}
  </p>
  <div class="mt-10 mb-14">
    <a
      target="_blank"
      href={project.siteUrl}
      class="block w-fit group relative mb-3 focus:outline-2 focus:outline-black focus:outline-offset-4"
    >
      <span class="flex gap-1 items-center">
        <span>Live Site</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-move-up-right"
          ><path d="M13 5H19V11"></path><path d="M19 5L5 19"></path></svg
        >
      </span>
      <span
        class="absolute -bottom-1 left-0 h-[1px] w-0 bg-black transition-all duration-300 group-hover:w-full"
      ></span>
    </a>
    <a
      target="_blank"
      href={project.githubUrl}
      class="block w-fit group relative focus:outline-2 focus:outline-black focus:outline-offset-4"
    >
      <span class="flex gap-1 items-center">
        <span>GitHub Repo</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-move-up-right"
          ><path d="M13 5H19V11"></path><path d="M19 5L5 19"></path></svg
        >
      </span>
      <span
        class="absolute -bottom-1 left-0 h-[1px] w-0 bg-black transition-all duration-300 group-hover:w-full"
      ></span>
    </a>
  </div>

  <Accordian
    articleId={id}
    features={project.features}
    futureOptimisations={project.futureOptimisations}
    techStack={project.techStack}
  />
</article>
