---
import { Image } from "astro:assets";
import TechBadge from "../TechBadge.astro";
import type { ImageMetadata } from "astro";

interface TTechBadge {
  title: string;
  alt: string;
  img: ImageMetadata;
}

interface Props {
  projectTitle: string;
  projectDescription: string;
  projectImage: ImageMetadata;
  leftAlign: boolean;
  slug: string;
  badges: TTechBadge[];
}
const badgeList = ["TypeScript", "JavaScript", "React", "Tailwind", "Next.js"];

const {
  projectTitle,
  projectDescription,
  projectImage,
  leftAlign,
  badges,
  slug,
} = Astro.props;

const projectBadges = badges.filter((badge) => badgeList.includes(badge.title));
---

<article
  class={`px-5 sm:px-10 flex flex-col gap-10 ${leftAlign ? "lg:flex-row" : "lg:flex-row-reverse"}`}
>
  <div>
    <Image
      src={projectImage}
      alt="dev trainer"
      class="block w-auto h-full rounded-xl"
    />
  </div>
  <div class="flex flex-col gap-4">
    <h2 class="tracking-tight font-bold text-4xl">{projectTitle}</h2>
    <p>
      {projectDescription}
    </p>
    <div class="flex gap-2 flex-wrap">
      {
        projectBadges.map((badge) => (
          <TechBadge title={badge.title} img={badge.img} alt={badge.alt} />
        ))
      }
    </div>
    <a
      href={`/projects/${slug}`}
      class="mt-5 p-2 rounded-xl bg-black text-white w-fit transition-colors hover:text-neutral-300"
      >See More &rarr;</a
    >
  </div>
</article>
