---
import amazon from "../../assets/images/gallery/amazon.jpg";
import newZealand from "../../assets/images/gallery/new-zealand.jpg";
import tokyo from "../../assets/images/gallery/tokyo.jpg";
import bolivia from "../../assets/images/gallery/bolivia.jpg";
import huacachina from "../../assets/images/gallery/huacachina.jpg";
import copacabana from "../../assets/images/gallery/copacobana.jpg";
import roysPeak from "../../assets/images/gallery/roys-peak.jpg";
import machu from "../../assets/images/gallery/machu.jpg";
import rio from "../../assets/images/gallery/rio.jpg";
import patagonia from "../../assets/images/gallery/patagonia.jpg";
import AboutBannerImage from "../home/AboutBannerImage.astro";
---

<div class="px-4 flex flex-col gap-4 overflow-hidden relative w-full">
  <div class="image-banner-1 min-w-max flex gap-4 animate-scroll">
    <!-- First set of images -->
    <AboutBannerImage img={amazon} alt="amazon rainforest" />
    <AboutBannerImage img={huacachina} alt="huacachina" />
    <AboutBannerImage img={machu} alt="machu picchu" />
    <AboutBannerImage img={rio} alt="rio de janeiro" />
    <AboutBannerImage img={newZealand} alt="new zealand" />

    <!-- Duplicate set of images for seamless loop -->
    <AboutBannerImage img={amazon} alt="amazon rainforest" />
    <AboutBannerImage img={huacachina} alt="huacachina" />
    <AboutBannerImage img={machu} alt="machu picchu" />
    <AboutBannerImage img={rio} alt="rio de janeiro" />
    <AboutBannerImage img={newZealand} alt="new zealand" />
  </div>

  <div class="image-banner-2 min-w-max flex gap-4 animate-scroll">
    <!-- First set of images -->
    <AboutBannerImage img={patagonia} alt="patagonia" />
    <AboutBannerImage img={tokyo} alt="tokyo" />
    <AboutBannerImage img={copacabana} alt="copacabana" />
    <AboutBannerImage img={bolivia} alt="bolivia" />
    <AboutBannerImage img={roysPeak} alt="new zealand" />

    <!-- Duplicate set of images for seamless loop -->
    <AboutBannerImage img={patagonia} alt="patagonia" />
    <AboutBannerImage img={tokyo} alt="tokyo" />
    <AboutBannerImage img={copacabana} alt="copacabana" />
    <AboutBannerImage img={bolivia} alt="bolivia" />
    <AboutBannerImage img={roysPeak} alt="new zealand" />
  </div>
</div>

<style>
  .image-banner-1 {
    animation: scroll 20s linear infinite;
  }

  .image-banner-1:hover {
    animation-play-state: paused;
  }

  .image-banner-2 {
    animation: scroll 20s linear infinite reverse;
  }

  .image-banner-2:hover {
    animation-play-state: paused;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
</style>
