---
import TechBadge from "../TechBadge.astro";
import badges from "../../collections/techBadges";

import amazon from "../../assets/images/gallery/amazon.jpg";
import newZealand from "../../assets/images/gallery/new-zealand.jpg";
import bolivia from "../../assets/images/gallery/bolivia.jpg";
import huacachina from "../../assets/images/gallery/huacachina.jpg";
import machu from "../../assets/images/gallery/machu.jpg";
import rio from "../../assets/images/gallery/rio.jpg";
import patagonia from "../../assets/images/gallery/patagonia.jpg";
import AboutBannerImage from "./AboutBannerImage.astro";
import LinkArrow from "../svgs/LinkArrow.astro";
---

<section
  class="bg-black min-h-screen py-44 text-white overflow-x-hidden flex flex-col gap-20 justify-center"
>
  <div class="px-4">
    <h2 class="text-4xl sm:text-6xl tracking-tight font-semibold mb-10">
      What I Love Using
    </h2>
    <ul class="flex flex-wrap gap-4">
      <li>
        <TechBadge
          title={badges[0].title}
          img={badges[0].img}
          alt={`${badges[0].alt} icon`}
          bgCol="bg-white/10"
        />
      </li>
      <li>
        <TechBadge
          title={badges[2].title}
          img={badges[2].img}
          alt={`${badges[2].alt} icon`}
          bgCol="bg-white/10"
        />
      </li>
      <li>
        <TechBadge
          title={badges[3].title}
          img={badges[3].img}
          alt={`${badges[3].alt} icon`}
          bgCol="bg-white/10"
        />
      </li>
      <li>
        <TechBadge
          title={badges[7].title}
          img={badges[7].img}
          alt={`${badges[7].alt} icon`}
          bgCol="bg-white/10"
        />
      </li>
      <li>
        <TechBadge
          title={badges[8].title}
          img={badges[8].img}
          alt={`${badges[8].alt} icon`}
          bgCol="bg-white/10"
        />
      </li>
    </ul>
  </div>
  <div id="image-container">
    <h2 class="text-4xl sm:text-6xl tracking-tight font-semibold mb-10 px-4">
      What I Love Doing
    </h2>

    <div class="flex justify-start overflow-hidden relative w-full">
      <div class="image-banner min-w-max flex gap-4 px-4 mb-4 animate-scroll">
        <!-- First set of images -->
        <AboutBannerImage img={amazon} alt="amazon rainforest" />
        <AboutBannerImage img={huacachina} alt="huacachina" />
        <AboutBannerImage img={machu} alt="machu picchu" />
        <AboutBannerImage img={bolivia} alt="bolivia" />
        <AboutBannerImage img={rio} alt="rio de janeiro" />
        <AboutBannerImage img={newZealand} alt="new zealand" />
        <AboutBannerImage img={patagonia} alt="patagonia" />

        <!-- Duplicate set of images for seamless loop -->
        <AboutBannerImage img={amazon} alt="amazon rainforest" />
        <AboutBannerImage img={huacachina} alt="huacachina" />
        <AboutBannerImage img={machu} alt="machu picchu" />
        <AboutBannerImage img={bolivia} alt="bolivia" />
        <AboutBannerImage img={rio} alt="rio de janeiro" />
        <AboutBannerImage img={newZealand} alt="new zealand" />
        <AboutBannerImage img={patagonia} alt="patagonia" />
      </div>
    </div>

    <div class="mx-auto w-fit mt-20">
      <a
        target="_blank"
        href="/about"
        class="block w-fit group relative mb-3 text-2xl font-semibold focus:outline-2 focus:outline-black focus:outline-offset-4"
      >
        <span class="flex gap-2 items-center">
          <span>Go to About</span>
          <LinkArrow height="20" width="20" />
        </span>
        <span
          class="absolute -bottom-1 left-0 h-[1px] w-0 bg-white transition-all duration-300 group-hover:w-full"
        ></span>
      </a>
    </div>
  </div>
</section>

<style>
  .image-banner {
    animation: scroll 20s linear infinite;
  }

  .image-banner:hover {
    animation-play-state: paused;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
</style>
