---
import LinkArrow from "../svgs/LinkArrow.astro";
import NavArrow from "../svgs/NavArrow.astro";
import { Image } from "astro:assets";
import image1 from "../../assets/images/nav-image.jpg";
import planet1 from "../../assets/images/planets/planet-1.png";
import planet2 from "../../assets/images/planets/planet-2.png";
import planet3 from "../../assets/images/planets/planet-3.png";
import planet4 from "../../assets/images/planets/planet-4.png";
import planet5 from "../../assets/images/planets/planet-5.png";
---

<header id="header" class="relative z-[100] flex justify-between items-center">
  <nav aria-label="primary navigation" class="p-4 relative z-10">
    <button
      aria-label="toggle navigation"
      aria-expanded="false"
      aria-controls="nav-container"
      id="toggle-nav-btn"
      class="relative z-20 p-3 rounded-md transition-all duration-700 ease-out hover:bg-rose-300 hover:rounded-xl focus:outline-4 focus:outline-offset-4 focus:outline-pink-800"
    >
      <div
        id="nav-button-icon"
        aria-hidden="true"
        class="relative w-[30px] h-[30px] rotate-0 duration-500 ease-in-out"
      >
        <span
          class="top-0 block absolute h-1 w-full bg-black opacity-100 left-0 rotate-0 duration-300 ease-in-out"
        ></span>
        <span
          class="top-[13px] block absolute h-1 w-full bg-black opacity-100 left-0 rotate-0 duration-300 ease-in-out"
        ></span>
        <span
          class="top-[26px] block absolute h-1 w-full bg-black opacity-100 left-0 rotate-0 duration-300 ease-in-out"
        ></span>
      </div>
    </button>

    <div class="fixed inset-0 pointer-events-none bg-transparent">
      <div
        id="nav-container"
        inert
        aria-hidden="true"
        class="pointer-events-auto h-dvh max-h-screen w-screen grid lg:grid-cols-2 absolute top-0 -translate-y-full inset-x-0 bg-white/70 backdrop-blur-md"
      >
        <!-- navigation -->
        <section
          id="nav-content"
          class="flex flex-col gap-6 justify-between p-10 pt-32 opacity-0"
        >
          <!-- nav links -->
          <ul
            class="nav-link-list text-black text-6xl font-bold tracking-tight leading-tight overflow-x-hidden"
            role="menubar"
          >
            <li role="menuitem">
              <a
                href="/"
                data-path="/"
                class="nav-link w-fit m-1 text-black -translate-x-11 hover:translate-x-0 transition-all duration-500 ease-out flex gap-2 items-center focus:outline-black focus:translate-x-0"
              >
                <NavArrow />
                HOME
              </a>
            </li>
            <li role="menuitem">
              <a
                href="/about"
                data-path="/about"
                class="nav-link w-fit m-1 text-black -translate-x-11 hover:translate-x-0 transition-all duration-500 ease-out flex gap-2 items-center focus:outline-black focus:translate-x-0"
              >
                <NavArrow />
                ABOUT
              </a>
            </li>
            <li role="menuitem">
              <a
                href="/projects"
                data-path="/projects"
                class="nav-link w-fit m-1 text-black -translate-x-11 hover:translate-x-0 transition-all duration-500 ease-out flex gap-2 items-center focus:outline-black focus:translate-x-0"
              >
                <NavArrow />
                PROJECTS
              </a>
            </li>
            <li role="menuitem">
              <a
                href="/blog"
                data-path="/blog"
                class="nav-link w-fit m-1 text-black -translate-x-11 hover:translate-x-0 transition-all duration-500 ease-out flex gap-2 items-center focus:outline-black focus:translate-x-0"
              >
                <NavArrow />
                BLOG
              </a>
            </li>
            <li role="menuitem">
              <a
                href="/contact"
                data-path="/contact"
                class="nav-link w-fit m-1 text-black -translate-x-11 hover:translate-x-0 transition-all duration-500 ease-out flex gap-2 items-center focus:outline-black focus:translate-x-0"
              >
                <NavArrow />
                CONTACT
              </a>
            </li>
          </ul>

          <!-- social links -->
          <div class="grid gap-3">
            <div class="grid gap-0.5">
              <span class="text-sm text-neutral-600">Email</span>
              <p class="email-text text-xl font-medium">ryanbprog@gmail.com</p>
            </div>
            <a
              href="https://www.linkedin.com/in/ryan-bowler-601919170/"
              target="_blank"
              class="social-link block w-fit group relative text-xl font-medium focus:outline-2 focus:outline-black focus:outline-offset-4"
            >
              <span class="flex gap-1 items-center">
                <span>LinkedIn</span>
                <LinkArrow height="16" width="16" />
              </span>
              <span
                class="absolute -bottom-1 left-0 h-[1px] w-0 bg-black transition-all duration-300 group-hover:w-full"
              ></span>
            </a>
            <a
              href="https://github.com/RyanBProg"
              target="_blank"
              class="social-link block w-fit group relative text-xl font-medium focus:outline-2 focus:outline-black focus:outline-offset-4"
            >
              <span class="flex gap-1 items-center">
                <span>GitHub</span>
                <LinkArrow height="16" width="16" />
              </span>
              <span
                class="absolute -bottom-1 left-0 h-[1px] w-0 bg-black transition-all duration-300 group-hover:w-full"
              ></span>
            </a>
          </div>
        </section>

        <!-- space section -->
        <section class="relative hidden lg:block h-full w-full max-h-screen">
          <Image
            src={image1}
            alt="stars in space"
            height={1000}
            width={800}
            quality={100}
            class="h-full w-full object-cover"
          />
          <!-- home planet -->
          <div id="home-planet" class="group absolute top-[15%] right-[15%]">
            <div class="relative">
              <div
                class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
              >
                <a
                  href="/"
                  tabindex="-1"
                  class="block h-20 w-20 rounded-full group-hover:h-24 group-hover:w-24 transition-all duration-[400ms] ease-in-out"
                >
                  <Image
                    src={planet1}
                    alt="planet"
                    height={60}
                    width={60}
                    quality={100}
                    class="h-full w-full object-cover"
                  />
                </a>
                <p
                  class="absolute bottom-0 translate-y-full left-1/2 -translate-x-1/2 text-white text-xs opacity-0 group-hover:opacity-100 transition-all duration-[400ms] ease-in-out"
                >
                  HOME
                </p>
              </div>
            </div>
          </div>
          <!-- about planet -->
          <div id="about-planet" class="group absolute top-[30%] left-[25%]">
            <div class="relative">
              <div
                class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
              >
                <a
                  href="/about"
                  tabindex="-1"
                  class="block h-12 w-12 rounded-full group-hover:h-16 group-hover:w-16 transition-all duration-[400ms] ease-in-out"
                >
                  <Image
                    src={planet2}
                    alt="planet"
                    height={50}
                    width={50}
                    quality={100}
                    class="h-full w-full object-cover"
                  />
                </a>
                <p
                  class="absolute bottom-0 translate-y-full left-1/2 -translate-x-1/2 text-white text-xs opacity-0 group-hover:opacity-100 transition-all duration-[400ms] ease-in-out"
                >
                  ABOUT
                </p>
              </div>
            </div>
          </div>
          <!-- projects planet -->
          <div
            id="projects-planet"
            class="group absolute bottom-[35%] right-[30%]"
          >
            <div class="relative">
              <div
                class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
              >
                <a
                  href="/projects"
                  tabindex="-1"
                  class="block h-28 w-28 rounded-full group-hover:h-32 group-hover:w-32 transition-all duration-[400ms] ease-in-out"
                >
                  <Image
                    src={planet3}
                    alt="planet"
                    height={90}
                    width={90}
                    quality={100}
                    class="h-full w-full object-cover"
                  />
                </a>
                <p
                  class="absolute bottom-0 translate-y-full left-1/2 -translate-x-1/2 text-white text-xs opacity-0 group-hover:opacity-100 transition-all duration-[400ms] ease-in-out"
                >
                  PROJECTS
                </p>
              </div>
            </div>
          </div>
          <!-- blog planet -->
          <div id="blog-planet" class="group absolute top-[60%] left-[30%]">
            <div class="relative">
              <div
                class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
              >
                <a
                  href="/blog"
                  tabindex="-1"
                  class="block h-20 w-20 rounded-full group-hover:h-24 group-hover:w-24 transition-all duration-[400ms] ease-in-out"
                >
                  <Image
                    src={planet5}
                    alt="planet"
                    height={60}
                    width={60}
                    quality={100}
                    class="h-full w-full object-cover"
                  />
                </a>
                <p
                  class="absolute bottom-0 translate-y-full left-1/2 -translate-x-1/2 text-white text-xs opacity-0 group-hover:opacity-100 transition-all duration-[400ms] ease-in-out"
                >
                  BLOG
                </p>
              </div>
            </div>
          </div>
          <!-- contact planet -->
          <div
            id="contact-planet"
            class="group absolute bottom-[15%] left-[12%]"
          >
            <div class="relative">
              <div
                class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
              >
                <a
                  href="/contact"
                  tabindex="-1"
                  class="block h-10 w-10 rounded-full group-hover:h-14 group-hover:w-14 transition-all duration-[400ms] ease-in-out"
                >
                  <Image
                    src={planet4}
                    alt="planet"
                    height={30}
                    width={30}
                    quality={100}
                    class="h-full w-full object-cover"
                  />
                </a>
                <p
                  class="absolute bottom-0 translate-y-full left-1/2 -translate-x-1/2 text-white text-xs opacity-0 group-hover:opacity-100 transition-all duration-[400ms] ease-in-out"
                >
                  CONTACT
                </p>
              </div>
            </div>
          </div>

          <!-- shooting star -->
          <div class="star star-1"></div>
          <!-- shooting star -->
          <div class="star star-2"></div>
          <!-- shooting star -->
          <div class="star star-3"></div>
        </section>
      </div>
    </div>
  </nav>

  <!-- download resume button -->
  <a
    href="/Ryan_Bowler-Developer_CV.pdf"
    download="Ryan_Bowler-Developer_CV"
    class="mr-4 flex gap-2 items-center p-2 rounded-md transition-all duration-700 ease-out hover:bg-rose-300 hover:rounded-xl focus:outline-4 focus:outline-offset-4 focus:outline-pink-800"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="22"
      height="22"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="lucide lucide-download"
      ><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path><polyline
        points="7 10 12 15 17 10"></polyline><line
        x1="12"
        x2="12"
        y1="15"
        y2="3"></line></svg
    >
    Download Resume
  </a>
</header>

<style>
  /* nav button */
  #nav-button-icon.open span:nth-child(1) {
    @apply top-[13px] rotate-[135deg];
  }

  #nav-button-icon.open span:nth-child(2) {
    @apply opacity-0 -left-[60px];
  }

  #nav-button-icon.open span:nth-child(3) {
    @apply top-[13px] -rotate-[135deg];
  }

  /* planets */
  #home-planet.hover .h-20 {
    height: 6rem;
    width: 6rem;
  }

  #about-planet.hover .h-12 {
    height: 4rem;
    width: 4rem;
  }

  #projects-planet.hover .h-28 {
    height: 8rem;
    width: 8rem;
  }

  #blog-planet.hover .h-20 {
    height: 6rem;
    width: 6rem;
  }

  #contact-planet.hover .h-10 {
    height: 3.5rem;
    width: 3.5rem;
  }

  [id$="-planet"].hover p {
    opacity: 1;
  }

  /* stars */
  .star {
    @apply absolute w-1 h-1 rounded-full bg-white opacity-0;
  }

  .star-1 {
    @apply top-[25%] right-[50%];

    box-shadow: 0 0 10px 5px rgb(255, 255, 255);
    animation: shooting-star-1 10s linear infinite;
    animation-play-state: paused;
  }

  .star-2 {
    @apply top-[50%] left-[20%];

    box-shadow: 0 0 5px 2px rgb(255, 255, 255);
    animation: shooting-star-2 5s linear 7s infinite;
    animation-play-state: paused;
  }

  .star-3 {
    @apply bottom-[25%] right-0;

    box-shadow: 0 0 10px 4px rgb(255, 255, 255);
    animation: shooting-star-3 5s linear 3.5s infinite;
    animation-play-state: paused;
  }

  .star::before {
    @apply absolute top-1/2 -translate-y-1/2 w-44 h-px;

    content: "";
    background: linear-gradient(90deg, #fff, transparent);
  }

  @keyframes shooting-star-1 {
    0% {
      opacity: 0;
    }
    40% {
      transform: rotate(20deg) translateX(0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    60% {
      transform: rotate(20deg) translateX(-700px);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes shooting-star-2 {
    0% {
      opacity: 0;
    }
    40% {
      transform: rotate(140deg) translateX(0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    60% {
      transform: rotate(140deg) translateX(-500px);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes shooting-star-3 {
    0% {
      opacity: 0;
    }
    40% {
      transform: rotate(340deg) translateX(0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    60% {
      transform: rotate(340deg) translateX(-800px);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

  @media screen and (max-height: 650px) {
    #nav-content {
      @apply pt-20;
    }

    .nav-link-list {
      @apply text-3xl;
    }

    .social-link {
      @apply text-lg;
    }

    .email-text {
      @apply text-lg;
    }
  }
</style>

<script>
  import { gsap } from "gsap";

  const toggleNavButton = document.getElementById(
    "toggle-nav-btn",
  ) as HTMLButtonElement;
  const navButtonIcon = document.getElementById(
    "nav-button-icon",
  ) as HTMLDivElement;
  const navContainer = document.getElementById(
    "nav-container",
  ) as HTMLDivElement;
  const navLinks = document.querySelectorAll(
    ".nav-link",
  ) as NodeListOf<HTMLAnchorElement>;
  const socialLinks = document.querySelectorAll(
    ".social-link",
  ) as NodeListOf<HTMLAnchorElement>;
  const stars = document.querySelectorAll(".star") as NodeListOf<HTMLElement>;
  let isNavOpen = false;
  const currentPath = window.location.pathname;

  // close the menu when clicking outside
  const handleClickOutside = (event: MouseEvent) => {
    const target = event.target as Element;

    if (
      isNavOpen &&
      navContainer &&
      !navContainer.contains(target) &&
      toggleNavButton &&
      !toggleNavButton.contains(target)
    ) {
      closeNav();
    }
  };

  // close menu when esc key is pressed
  const handleEscKeyPress = (event: KeyboardEvent) => {
    if (event.key === "Escape" && isNavOpen) {
      closeNav();
    }
  };

  // focus trapping when nav is open
  const handleTab = (event: KeyboardEvent) => {
    if (!isNavOpen) {
      return;
    }

    const focusElements = [toggleNavButton, ...navLinks, ...socialLinks];
    const firstElement = focusElements[0];
    const lastElement = focusElements[focusElements.length - 1];

    if (event.key === "Tab") {
      // Shift + Tab pressed on first element
      if (event.shiftKey && document.activeElement === firstElement) {
        event.preventDefault();
        lastElement.focus();
      }
      // Tab pressed on last element
      else if (!event.shiftKey && document.activeElement === lastElement) {
        event.preventDefault();
        firstElement.focus();
      }
    }
  };

  // close navigation function
  const closeNav = () => {
    isNavOpen = false;

    // enable scrolling
    document.getElementsByTagName("body")[0].style.overflow = "visible";
    // reset aria hidden for main content for screen readers
    document
      .getElementsByTagName("main")[0]
      .setAttribute("aria-hidden", "false");
    document
      .getElementsByTagName("footer")[0]
      .setAttribute("aria-hidden", "false");

    const tl = gsap.timeline();
    tl.to("#nav-content", {
      opacity: 0,
      duration: 0.5,
      ease: "power4.in",
    }).to("#nav-container", {
      y: "-100%",
      duration: 0.5,
      ease: "power4.in",
    });

    navButtonIcon?.classList.remove("open");
    navContainer.setAttribute("inert", "");
    navContainer.setAttribute("aria-hidden", "true");
    toggleNavButton?.setAttribute("aria-expanded", "false");
    stars.forEach((star) => {
      star.style.animationPlayState = "paused";
    });
  };

  // open navigation function
  const openNav = () => {
    isNavOpen = true;

    // Scroll to top of screen
    window.scrollTo({
      top: 0,
      behavior: "smooth",
    });

    // lock scrolling
    document.getElementsByTagName("body")[0].style.overflow = "hidden";
    // aria hidden for main content for screen readers
    document
      .getElementsByTagName("main")[0]
      .setAttribute("aria-hidden", "true");
    document
      .getElementsByTagName("footer")[0]
      .setAttribute("aria-hidden", "true");

    // Open animation sequence
    const tl = gsap.timeline();
    tl.to("#nav-container", {
      y: "0%",
      duration: 0.8,
      ease: "power4.inOut",
    }).to(
      "#nav-content",
      {
        opacity: 1,
        duration: 0.8,
        ease: "power4.inOut",
      },
      "-=0.1",
    );

    navButtonIcon?.classList.add("open");
    navContainer.removeAttribute("inert");
    navContainer.setAttribute("aria-hidden", "false");
    toggleNavButton?.setAttribute("aria-expanded", "true");
    stars.forEach((star) => {
      star.style.animationPlayState = "running";
    });
  };

  // toggle navigation function
  toggleNavButton?.addEventListener("click", () => {
    if (isNavOpen) {
      closeNav();
    } else {
      openNav();
    }
  });

  // nav link hover effects
  navLinks.forEach((link) => {
    const updateLinkColors = (hoveredLink: HTMLAnchorElement | null = null) => {
      navLinks.forEach((navLink) => {
        const isCurrentPath =
          navLink.getAttribute("href") === window.location.pathname;
        const isHovered = hoveredLink === navLink;

        if (hoveredLink) {
          // when a link is being hovered
          if (isHovered) {
            navLink.classList.add("text-black");
            navLink.classList.remove("text-neutral-500");
          } else {
            navLink.classList.add("text-neutral-500");
            navLink.classList.remove("text-black");
          }
        } else {
          // when no link is being hovered (default state)
          if (isCurrentPath) {
            navLink.classList.add("text-neutral-500");
            navLink.classList.remove("text-black");
          } else {
            navLink.classList.add("text-black");
            navLink.classList.remove("text-neutral-500");
          }
        }
      });
    };

    link.addEventListener("mouseenter", () => updateLinkColors(link));
    link.addEventListener("mouseleave", () => updateLinkColors());
  });

  // highlight planet on link hover
  navLinks.forEach((link) => {
    link.addEventListener("mouseenter", () => {
      const path = link.getAttribute("href");
      const planetId = path === "/" ? "home" : path!.replace("/", "");
      const matchingPlanet = document.getElementById(`${planetId}-planet`);

      // add hover class without removing group hover
      if (matchingPlanet) {
        matchingPlanet.classList.add("hover");
      }
    });

    link.addEventListener("mouseleave", () => {
      const path = link.getAttribute("href");
      const planetId = path === "/" ? "home" : path!.replace("/", "");
      const matchingPlanet = document.getElementById(`${planetId}-planet`);

      if (matchingPlanet) {
        matchingPlanet.classList.remove("hover");
      }
    });
  });

  // Set active link styles
  function setActiveLink(
    navLinks: NodeListOf<HTMLAnchorElement>,
    currentPath: string,
  ) {
    navLinks.forEach((link) => {
      const linkPath = link.getAttribute("data-path");
      if (linkPath === currentPath) {
        link.classList.remove("-translate-x-11", "text-black");
        link.classList.add("text-neutral-500");
      } else {
        link.classList.add("-translate-x-11", "text-black");
        link.classList.remove("text-neutral-500");
      }
    });
  }

  // Run on page load
  setActiveLink(navLinks, currentPath);

  // Add event listeners
  document.addEventListener("mousedown", handleClickOutside);
  document.addEventListener("keydown", handleEscKeyPress);
  document.addEventListener("keydown", handleTab);
</script>
