---
import Layout from "../../layouts/Layout.astro";
import { getCollection, render } from "astro:content";
import { Image } from "astro:assets";
import TechBadge from "../../components/TechBadge.astro";
import badges from "../../collections/techBadges";
import webIcon from "../../assets/icons/web-square.png";
import githubIcon from "../../assets/icons/github-square.png";

export async function getStaticPaths() {
  const projects = await getCollection("projectsCollection");
  return projects.map((project) => ({
    params: { slug: project.data.slug },
    props: { project },
  }));
}

const { project } = Astro.props;
const { Content } = await render(project);

const projectBadges = badges.filter((badge) =>
  project.data.techStack.includes(badge.title),
);
---

<Layout title=`${project.data.title} | Ryan Bowler`>
  <article class="container mx-auto px-5 sm:px-10">
    <!-- WHITESPACE -->
    <div class="h-[150px] sm:h-[200px]" role="presentation"></div>

    <div class="mb-10 flex flex-col gap-10 lg:flex-row">
      <div>
        <Image
          src={project.data.image}
          alt={`Screenshot showing ${project.data.title} project interface`}
          class="block w-auto h-full rounded-xl object-cover"
        />
      </div>

      <div class="flex flex-col gap-4">
        <h1 class="tracking-tight font-bold text-4xl">{project.data.title}</h1>
        <p>
          {project.data.description}
        </p>
        <ul aria-label="Technologies used" class="flex gap-2 flex-wrap">
          {
            projectBadges.map((badge) => (
              <li>
                <TechBadge
                  title={badge.title}
                  img={badge.img}
                  alt={badge.alt}
                />
              </li>
            ))
          }
        </ul>
        <div class="flex gap-4" aria-label="Project links">
          <a
            href={project.data.projectUrl}
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Visit live project"
            class="bg-white rounded-xl block h-14 w-14 transition-transform hover:-translate-y-1 hover:cursor-pointer"
          >
            <Image src={webIcon} alt="website icon" height="56" width="56" />
          </a>
          <a
            href={project.data.githubUrl}
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Visit Github to view source code"
            class="bg-white rounded-xl block h-14 w-14 transition-transform hover:-translate-y-1 hover:cursor-pointer"
          >
            <Image src={githubIcon} alt="github icon" height="56" width="56" />
          </a>
        </div>
      </div>
    </div>
    <Content />

    <!-- WHITESPACE -->
    <div class="h-[150px] sm:h-[200px]" role="presentation"></div>
  </article>
</Layout>

<style is:global>
  h3 {
    @apply text-2xl font-bold tracking-tight mt-5 mb-2;
  }
</style>
