---
import Layout from "../../layouts/Layout.astro";
// Get the slug from the URL
export async function getStaticPaths() {
  const projects = await import("../../data/projects.ts").then(
    (module) => module.default,
  );
  return projects.map((project) => ({
    params: { slug: project.slug },
    props: { project },
  }));
}

// Props from getStaticPaths
export interface Props {
  project: {
    title: string;
    description: string;
    slug: string;
    image: string;
  };
}
const { project } = Astro.props;
---

<Layout title=`${project.title} | Ryan Bowler`>
  <article>
    <h1 class="text-6xl font-bold tracking-tight">{project.title}</h1>
    <img src={project.image} alt={project.title} />
    <p>{project.description}</p>
    <p>Features I wish to add in the future:</p>
  </article>
</Layout>
